extends  template/layout.pug
block title
  title :: Magazine home ::
block append header
block append section
  .container-fluid
    .row.fh5co-post-entry
      article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
        figure
          a(href='/single')
            img.img-responsive(src='/public/images/pic_1.jpg', alt='Image')
        span.fh5co-meta
          a(href='/single') DESIGN 
        h2.fh5co-article-title
          a(href='/single') 감각적인 느낌 
        span.fh5co-meta.fh5co-date JANUARY 6th, 2018
      article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
        figure
          a(href='/single' action="submit" method='get' name='hi')
            img.img-responsive(src='/public/images/pic_2.jpg', alt='Image')
        span.fh5co-meta
          a(href='/single') DESIGN 
        h2.fh5co-article-title
          a(href='/single') 화이트 계열의 톤 
        span.fh5co-meta.fh5co-date JANUARY 1th, 2018
      article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
        figure
          a(href='/single')
            img.img-responsive(src='/public/images/pic_3.jpg', alt='Image')
        span.fh5co-meta
          a(href='/single') DESIGN 
        h2.fh5co-article-title
          a(href='/single') 꽃병인드로 디자인 
        span.fh5co-meta.fh5co-date JANUARY 1th, 2017
      article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
        figure
          a(href='/single')
            img.img-responsive(src='/public/images/pic_4.jpg', alt='Image')
        span.fh5co-meta
          a(href='/single') DESIGN 
        h2.fh5co-article-title
          a(href='/single') 연속 문 넘어로 
        span.fh5co-meta.fh5co-date March 6th, 2017
      .clearfix.visible-lg-block.visible-md-block.visible-sm-block.visible-xs-block
      article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
        figure
          a(href='/single')
            img.img-responsive(src='/public/images/pic_5.jpg', alt='Image')
        span.fh5co-meta
          a(href='/single') FOOD 
        h2.fh5co-article-title
          a(href='/single') 점진적인 푸드 
        span.fh5co-meta.fh5co-date March 6th, 2016
      article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
        figure
          a(href='/single')
            img.img-responsive(src='/public/images/pic_6.jpg', alt='Image')
        span.fh5co-meta
          a(href='/single') IT 
        h2.fh5co-article-title
          a(href='/single') 인공지능 디자인 
        span.fh5co-meta.fh5co-date March 6th, 2016
      article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
        figure
          a(href='/single')
            img.img-responsive(src='/public/images/pic_7.jpg', alt='Image')
        span.fh5co-meta
          a(href='/single') CAR 
        h2.fh5co-article-title
          a(href='/single') 남자들을 위한 차 
        span.fh5co-meta.fh5co-date March 6th, 2016
      article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
        figure
          a(href='/single')
            img.img-responsive(src='/public/images/pic_8.jpg', alt='Image')
        span.fh5co-meta
          a(href='/single') DESIGN 
        h2.fh5co-article-title
          a(href='/single') 몽환적인 느낌 
        span.fh5co-meta.fh5co-date March 6th, 2016
      //- .clearfix.visible-xs-block
      //- .clearfix.visible-lg-block.visible-md-block.visible-sm-block.visible-xs-block
      //- .clearfix.visible-xs-block
      //- .clearfix.visible-lg-block.visible-md-block.visible-sm-block.visible-xs-block
      //- .clearfix.visible-xs-block
      //- .clearfix.visible-xs-block
block append footer