header#fh5co-header
  .container-fluid
    .row
      a.js-fh5co-nav-toggle.fh5co-nav-toggle(href='#')
        i
      ul.fh5co-social
        li
          a(href='#')
            i.icon-twitter
        li
          a(href='#')
            i.icon-facebook
        li
          a(href='#')
            i.icon-instagram
      .col-lg-12.col-md-12.text-center
        h1#fh5co-logo
          a(href='/')
            | CATUS Magazine