#fh5co-offcanvas
  a.fh5co-close-offcanvas.js-fh5co-close-offcanvas(href='#')
    span
      i.icon-cross3
      span 닫기 
  .fh5co-bio
    figure
      img.img-responsive(src='public/images/person1.jpg', alt='Free HTML5 Bootstrap Template')
    h3.heading 나에 관하여 
    h2 캐터스 리 
    p 디자인관련 매거진
    ul.fh5co-social
      li
        a(href='#')
          i.icon-twitter
      li
        a(href='#')
          i.icon-facebook
      li
        a(href='#')
          i.icon-instagram
  .fh5co-menu
    .fh5co-box
      h3.heading 카테고리 
      ul
        li
          a(href='#') Design 
        li
          a(href='#') Food 
        li
          a(href='#') IT 
        li
          a(href='#') car 
    .fh5co-box
      h3.heading 검색 
      form(action='#')
        .form-group
          input.form-control(type='text', placeholder='키워드를 검색해주세요.')